@import url('https://fonts.cdnfonts.com/css/godzilla');
*{
    font-family:"Oswald", sans-serif;
    scroll-behavior: smooth;
}
.leading-primary{
    line-height: 150% !important;
}
.discord-svg:hover svg path{
fill: #FF002A !important;
}   
/* =================== Slider css ============================= */

.slick-next::before{
    display: none;
}
.slick-prev::before{
    display: none;
}
.slick-next{
    width: 83px;
    transform: translateX(60px);
}
.slick-prev{
    width: 83px;
    transform: translateX(-60px);
}
/* ================================== scroll right to left keyframe ======================================== */
   @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scroll-content {
    display: flex;
    width: 200%;  
    animation: scroll 20s linear infinite;
}
.scroll-content:hover{
animation-play-state: paused;
}

.scroll-content img {
    flex-shrink: 0;  
    width: auto;  
}


option{
    appearance:initial;
}